div#mss_admin td.label {
	width: 180px; 
}
.solr_admin {
	font-size: 14px;
	color: #464646;
	min-width: 800px;
	padding: 0 0 20px;
}
.solr_admin h4 {
	font-family: Georgia;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	margin: 0;
}
.solr_admin h4 input {
	margin-right: 3px;
}
.solr_admin h5 {
	font-size: 14px;
	padding: 0 0 12px;
}
.solr_admin ol {
	list-style-type: none;
	width: 35%;
	float: right;
	position: relative;
	left: 1px;
	margin-left: 0;
}
.solr_admin li {
	color: #999999;
	background: #eeeeee;
	padding: 12px;
	margin-bottom: 0;
}
.solr_admin ol li ol {
	width: auto;
	float: none;
	left: 0;
	padding: 5px 0 0 32px;
}

.solr_admin ol li ol li {
	font-size: 12px;
	line-height: 1.2;
	background: none;
	list-style-type: disc;
	list-style-position: outside;
	padding: 1px 0;
}

.solr_admin_tab_top {
	border: 1px solid #cccccc;
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
}
.solr_admin_tab_bottom {
	border: 1px solid #cccccc;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
}
.solr_admin_tab_center{
	background: #ffffff;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}
.solr_admin_tab_center_last{
	background: #ffffff;
	border-right: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
}

.solr_admin_tab2 h4 {
	font-size: 18px;
}
.solr_adminR {
	background: #ffffff;
	/*float: right;
	width: 65%;
	*/
}

li.solr_admin_on {
	color: #464646;
	background: #ffffff;
	border-right: 1px solid #eeeeee;
}

li.solr_admin_off {
	color: #464646;
	background: #cccccc;
	border-right: 1px solid #eeeeee;
}

li.solr_admin_on li {
	color: #464646;
}

.solr_adminR1, .solr_adminR2 {
	border: 1px solid #cccccc;
	/*
	-moz-border-radius-topright:6px;
	-moz-border-radius-bottomright:6px;
	-moz-border-radius-bottomleft:6px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	*/
	padding: 12px 12px;
}

.solr_adminR2 {
	display: block;
}
.solr_adminR label {
	display: block;
	padding: 0 0 2px 3px;
}
.solr_adminR span {
	font-size: 11px;
	font-weight: bold;
	color: #00CC00;
	font: block;
	padding: 0 0 2px 3px;
}
span.solr_admin_warning {
	color: #FF9900;
}
.solr_adminR p {
	padding: 0 0 10px;
}
.solr_adminR input[type=text] {
	width: 220px;
}

/*CLEARFIX*/
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.clearfix {
	display: block;/*the holly hack for a bug in IE6 for Windows*/
}
* html .clearfix {height: 1%;}/* Hides from IE-mac \*/
/* END CLEARFIX*/
.clear {
	clear: both;
}

.nobr { white-space: nowrap; }


/* facet-form-table */
.facet-form-table {
  border-collapse: collapse;
  clear: both;
  margin-bottom: -8px;
  margin-top: 0.5em;
  width: 100%;
}
.facet-form-table td {
    font-size: 12px;
    line-height: 20px;
    margin-left: 2px;
	padding: 2px;
}
.facet-form-table th {
    padding: 2px;
    text-align: left;
    vertical-align: top;
    width: 200px;
}
